Screen {
	background: black;
	text-style: bold;
	color: green;
	border:blank;
	height:100%;
	width:100%;
}
Container {
	width: 100%;
	height: 25%;
}
CanMsg {
	content-align: center middle ;
	width: 23%;
	padding: 0 0 0 0;
	height: 100%;
	border: heavy green;
}
